---
import BaseLayout from '../layouts/BaseLayout.astro'
const pageTitle = 'about me'

const skills = ['HTML', 'CSS', 'JavaScript', 'React', 'Astro', 'Writing Docs']
---

<BaseLayout pageTitle={pageTitle}>
  <h2>my new infomation</h2>
  <p>my skills</p>
  <ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>
</BaseLayout>
